.inventory {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  align-items: center;
  li {
    padding: 10px;
    margin: 5px;
    list-style: none;
    img {
      width: 90vw;
      max-width: 300px;
      height: 450px;
      box-shadow: 5px 0px 12px rgb(255, 255, 255);
      &:hover {
        cursor: pointer;
      }
    }
    .card {
      position: relative;
      img {
        margin-bottom: 20px;
      }
      .likeButton {
        position: absolute;
        top: 2px;
        right: 2px;
        font-size: 1.5rem;
        border: 0;
        border-radius: 5px;
        color: black;
        background-color: #f8f0e3;
        // color: black;
        // background-color: #f8f0e3;
        transition: all 0.1s;

        &:hover {
          cursor: pointer;
          color: #cf5858;
        }
      }
    }
  }

  .likeButton.test {
    background-color: #eb9203 !important;
  }

  .errorMessage {
    padding-top: 24px 0 0 0;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: rgb(220, 17, 17);
    padding: 2px;
    height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .providerContainer {
    text-align: center;
    margin: 20px 0 25px 0;
    a {
      font-family: "M PLUS Rounded 1c", sans-serif;
      font-weight: 600;
      text-decoration: none;
      color: rgb(255, 255, 255);
      background-color: transparent;
      letter-spacing: 2px;
      text-transform: uppercase;
      border: 1px solid white;
      border-radius: 10px;
      padding: 20px;
      &:hover {
        box-shadow: 0 0px 20px #d34b4b inset;
      }
    }
  }
}

table,
th,
td {
  border: 1px solid black;
}
