.inventory {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    li {
        padding: 10px;
        margin: 5px;
        img {
            width: 90vw;
            max-width: 300px;
            height: 450px;
            box-shadow: 5px 0px 12px rgb(255, 255, 255);
            &:hover {
                cursor: pointer;
                transform: rotateY(180deg);
            }
        }
        .card {
            position: relative;
            img {
                margin-bottom: 20px;
            }
            .likeButton {
                position: absolute;
                top: 2px;
                right: 2px;
                font-size: 1.5rem;
                border: 0;
                border-radius: 5px;
                color: rgb(169, 6, 6);
                transition: all 0.1s;
                &:hover {
                    cursor: pointer;
                    background-color: gray;
                }
            }
        }
    }
    .errorMessage {
        margin: 0;
        font-family: "M PLUS Rounded 1c", sans-serif;
        color: rgb(220, 17, 17);
        padding: 2px;
        height: 40px;
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .providerContainer {
        text-align: center;
        margin: 10px 0 15px 0;
        a {
            font-family: "M PLUS Rounded 1c", sans-serif;
            font-weight: 600;
            text-decoration: none;
            color: #e2d6a9;
            background-color: transparent;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff,
                0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff,
                0 0 150px #0ff;
            border: 1px solid white;
            border-radius: 10px;
            padding: 8px;
        }
    }
}

// .inventory:hover .grid {
//   transform: rotateY(180deg);
//   .front {
//     z-index: 2;
//     border: 2px solid red;
//   }
//   .back {
//     z-index: 1;
//     border: 2px solid green;
//   }
// }
