.inventory {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    li {
        padding: 10px;
        margin: 5px;
        img {
            width: 90vw;
            max-width: 300px;
            height: 450px;
            box-shadow: 5px 0px 12px rgb(255, 255, 255);
            &:hover {
                cursor: pointer;
                transform: rotateY(180deg);
            }
        }
        .card {
            position: relative;
            img {
                margin-bottom: 20px;
            }
            .likeButton {
                position: absolute;
                top: 2px;
                right: 2px;
                font-size: 1.5rem;
                border: 0;
                border-radius: 5px;
                color: rgb(169, 6, 6);
                transition: all 0.1s;
                &:hover {
                    cursor: pointer;
                    background-color: gray;
                }
            }
        }
    }
    .errorMessage {
        margin: 0;
        color: white;
        padding: 0px;
    }
}

// .inventory:hover .grid {
//   transform: rotateY(180deg);
//   .front {
//     z-index: 2;
//     border: 2px solid red;
//   }
//   .back {
//     z-index: 1;
//     border: 2px solid green;
//   }
// }
