@media (min-width: 750px) {
    .inventory {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1625px;
        li {
            padding: 5px;
        }
    }
    .theater-sign {
        max-width: 1600px;
    }
}

@media (min-width: 1250px) {
    form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1550px;
        margin: 0 auto 50px auto;
        gap: 0px;
        label {
            margin: 0;
            height: 20px;
            margin-bottom: 30px;
        }
    }
}

@media (min-width: 1550px) {
    form {
        margin: 0 auto 100px auto;
    }
}
